.card {
  box-shadow: 0 16px 35px 0 rgba(0, 0, 0, 0.15);
  padding: 16px;
  border-radius: 40px;
  cursor: pointer;

  transition: 0.3s ease;
}

.card:hover {
  box-shadow: 0 16px 35px 0 rgba(0, 0, 0, 0.25);
  transform: scale(1.02);
}

.header {
  display: flex;
  justify-content: space-between;
}

.status {
  background-color: #e9f9ef;
  color: #136c34;
  padding: 6px 14px;

  border-radius: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  margin-top: 16px;

  border-bottom: 1px solid #f0f1f2;
}

.title {
  color: #2d3036;
  font-size: 20px;
}

.description {
  color: #616874;
  font-size: 16px;
}

.details {
  padding: 8px;
  color: #616874;
  font-size: 14px;
}
