.card {
  box-shadow: 0 16px 35px 0 rgba(0, 0, 0, 0.15);
  padding: 8px;
  border-radius: 40px;
  display: flex;
}

.avatar {
  border-radius: 32px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.name {
  font-size: 22px;
  font-weight: 600;
  color: #181818;
}

.email {
  font-size: 16px;
  color: gray;
}

.content {
  margin: 20px 28px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0px 28px 20px 28px;
}

.birth,
.phone {
  font-size: 14px;
  color: gray;
}

.button {
  outline: 0;
  background-color: #efefef;
  border: 1px solid rgba(183, 183, 183, 0.3);
  padding: 10.5px 22px;
  border-radius: 32px;
  font-weight: 500;
  cursor: pointer;
}
