.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  border: 1px solid gainsboro;
}

.nav {
  display: flex;
  list-style: none;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: black;
  border-radius: 8px;
  padding: 5px;

  transition: 0.3s ease all;
}

.active {
  text-decoration: none;
  color: black;
  border-radius: 8px;
  padding: 5px;
  background-color: rgb(231, 231, 231);

  transition: 0.3s ease all;
}

.link:hover {
  background-color: rgb(242, 242, 242);
}
