body {
  margin: 50px;
}

.title {
  font-size: 30px;
  text-align: center;

  margin: 30px 0;
}

.addUserBtn {
  outline: 0;
  border: 0;
  width: 100%;
  border: 1px solid gainsboro;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
