.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;

  margin: 0 auto;
  margin-top: 20px;

  max-width: 720px;
}

.notFound {
  text-align: center;
  margin-top: 20px;
  color: gray;
}
